## Exercise 0: Environment and libraries

In [16]:
import pandas as pd
import numpy as np
import jupyter
from IPython.display import display

## Exercise 1: Your first DataFrame

In [2]:



index = [1, 3, 5, 7, 9]  # You can specify any custom index here
data = np.array([['Blue', [1, 2], 1.1],
                 ['Red', [3, 4], 2.2],
                 ['Pink', [5, 6], 3.3],
                 ['Grey', [7, 8], 4.4],
                 ['Black', [9, 10], 5.5]], dtype=object)

df1 = pd.DataFrame(data, columns=['color', 'list','number'])
df1.index = index

#the series
colors = pd.Series(['Blue', 'Red', 'Pink', 'Grey', 'Black'])
lists = pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]])
numbers = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5])

df2 = pd.DataFrame({'color': colors,
                     'list': lists,
                     'number': numbers
                   })
df2.index = index


display(df1)
display(df2)

   color     list number
1   Blue   [1, 2]    1.1
3    Red   [3, 4]    2.2
5   Pink   [5, 6]    3.3
7   Grey   [7, 8]    4.4
9  Black  [9, 10]    5.5

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

In [3]:
# Print the class name for the column types (Series)
column_types_as_series_class = [str(type(df1[col])) for col in df1.columns]

# Print the class name for the first value types of every column
first_value_types_class = [str(type(df1[col].iloc[0])) for col in df1.columns]


column_types_as_series_class, first_value_types_class

(["<class 'pandas.core.series.Series'>",
  "<class 'pandas.core.series.Series'>",
  "<class 'pandas.core.series.Series'>"],
 ["<class 'str'>", "<class 'list'>", "<class 'float'>"])

## Exercise 2: Electric power consumption

In [4]:
df = pd.read_csv("household_power_consumption.txt",sep=';', low_memory=False)
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [5]:
df.drop(['Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1, inplace=True)
df.head()

,Date,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
0,16/12/2006,4.216,0.418,234.840,18.400,0.000
1,16/12/2006,5.360,0.436,233.630,23.000,0.000
2,16/12/2006,5.374,0.498,233.290,23.000,0.000
3,16/12/2006,5.388,0.502,233.740,23.000,0.000
4,16/12/2006,3.666,0.528,235.680,15.800,0.000

In [6]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df.set_index('Date', inplace=True)
df.head().index

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [7]:
def update_types(df):
    df['Global_active_power'] = pd.to_numeric(df['Global_active_power'],errors='coerce')
    df['Global_reactive_power'] = pd.to_numeric(df['Global_reactive_power'],errors='coerce')
    df['Voltage'] = pd.to_numeric(df['Voltage'],errors='coerce')
    df['Global_intensity'] = pd.to_numeric(df['Global_intensity'],errors='coerce')
    df['Sub_metering_1'] = pd.to_numeric(df['Sub_metering_1'],errors='coerce')
    return df


update_types(df)

df.dtypes

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [8]:
df.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
count,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06
mean,1.091615e+00,1.237145e-01,2.408399e+02,4.627759e+00,1.121923e+00
std,1.057294e+00,1.127220e-01,3.239987e+00,4.444396e+00,6.153031e+00
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00
25%,3.080000e-01,4.800000e-02,2.389900e+02,1.400000e+00,0.000000e+00
50%,6.020000e-01,1.000000e-01,2.410100e+02,2.600000e+00,0.000000e+00
75%,1.528000e+00,1.940000e-01,2.428900e+02,6.400000e+00,0.000000e+00
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01

In [9]:
df.dropna(inplace=True)
df.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
dtype: int64

In [10]:
df.loc[:,'Sub_metering_1'] = (df['Sub_metering_1'] + 1) * 0.06
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2006-12-16,4.216,0.418,234.84,18.4,0.06
2006-12-16,5.360,0.436,233.63,23.0,0.06
2006-12-16,5.374,0.498,233.29,23.0,0.06
2006-12-16,5.388,0.502,233.74,23.0,0.06
2006-12-16,3.666,0.528,235.68,15.8,0.06

In [11]:
filtered_df = df.loc[(df.index >= '2008-12-27') & (df['Voltage'] >= 242)].drop(['Global_intensity', 'Sub_metering_1', 'Voltage'], axis=1)
filtered_df.head()

            Global_active_power  Global_reactive_power
Date
2008-12-27                0.996                  0.066
2008-12-27                1.076                  0.162
2008-12-27                1.064                  0.172
2008-12-27                1.070                  0.174
2008-12-27                0.804                  0.184

In [12]:
print(df.iloc[88889])

Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.350
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64

In [13]:
max_global_active_power = df['Global_active_power'].idxmax()
print(f"Timestamp('{max_global_active_power}')")

Timestamp('2009-02-22 00:00:00')

In [14]:
new_df = df.sort_values(by=['Global_active_power', 'Voltage'], ascending=[False, True])

new_df = new_df.iloc[:, :3]

print(new_df.head())

            Global_active_power  Global_reactive_power  Voltage
Date
2009-02-22               11.122                  0.174   229.78
2007-03-04               10.670                  0.516   230.20
2007-03-04               10.650                  0.500   229.97
2009-02-22               10.536                  0.192   230.24
2008-11-30               10.348                  0.084   231.60

In [15]:
daily_avg = df.groupby(df.index.date)['Global_active_power'].mean()
display(daily_avg)

2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Name: Global_active_power, Length: 1433, dtype: float64

## Exercise 3: E-commerce purchases

In [24]:
df = pd.read_csv("Ecommerce_purchases.txt", delimiter=",",low_memory=False)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [23]:
print(f"rows: {df.shape[0]}", f"columns: {df.shape[1]}")

rows: 10000 columns: 14

In [25]:
average_purchase_price = df['Purchase Price'].mean()

print(average_purchase_price)

50.347302

In [27]:
highest_purchase_price = df['Purchase Price'].max()
lowest_purchase_price = df['Purchase Price'].min()

print(f"highest {highest_purchase_price}")
print(f"lowest {lowest_purchase_price}")

highest 99.99
lowest 0.0

In [30]:
english_speakers_count = df[df['Language'] == 'en'].shape[0]

print(f"Total amount of english speakers: {english_speakers_count}")

Total amount of english speakers: 1098

In [32]:
lawyers_count = df[df["Job"] == "Lawyer"].shape[0]
print(f"Total amount of lawyers: {lawyers_count}")

Total amount of lawyers: 30

In [36]:
am_pm_purchases = df['AM or PM'].value_counts()

am_purchases = am_pm_purchases.get('AM', 0)
pm_purchases = am_pm_purchases.get('PM', 0)

# Print the results
print(f"Total amount of am purchases: {am_purchases}")
print(f"Total amount of pm purchases: {pm_purchases}")

Total amount of am purchases: 4932
Total amount of pm purchases: 5068

In [40]:
job_titles = df['Job'].value_counts()
job_titles.head(5)

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

In [41]:
purchase_from_lot_90_wt = df[df['Lot'] == "90 WT"]['Purchase Price'].iloc[0]
purchase_from_lot_90_wt

75.1

In [42]:
email_of_cc_owner = df[df['Credit Card'] == 4926535242672853]['Email'].iloc[0]
email_of_cc_owner

'bondellen@williams-garza.com'

In [43]:
amex_and_above_95 = df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)].shape[0]
amex_and_above_95

39

In [ ]:
# we will first convert the expiration date to a datetime object to extract the year,
# and then count the number of occurrences where the year is 2025.

# Convert the 'CC Exp Date' to datetime
df['CC Exp Date'] = pd.to_datetime(df['CC Exp Date'], format='%m/%y')

# Extract the expiration year
df['Exp Year'] = df['CC Exp Date'].dt.year

# Count the number of credit cards expiring in 2025
credit_cards_expiring_2025 = df[df['Exp Year'] == 2025].shape[0]

credit_cards_expiring_2025

In [48]:
email_providers = df['Email'].apply(lambda x: x.split('@')[1])

# Use value_counts to find the top 5 most popular email providers/hosts
top_5_email_providers = email_providers.value_counts().head(5)

top_5_email_providers

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

## Exercise 4: Handling missing values

In [53]:
# Load the dataset
df = pd.read_csv("iris.csv", delimiter=",")

# Convert the numerical columns to float
df['sepal_length'] = pd.to_numeric(df['sepal_length'], errors='coerce')
df['sepal_width'] = pd.to_numeric(df['sepal_width'], errors='coerce')
df['petal_length'] = pd.to_numeric(df['petal_length'], errors='coerce')
df['petal_width'] = pd.to_numeric(df['petal_width'], errors='coerce')

# Drop the 'flower' column
df.drop('flower', axis=1, inplace=True)

# Fill the missing values according to the specified strategies
# Fill NaN values for 'sepal_length' and 'sepal_width'
df['sepal_length'] = df['sepal_length'].fillna(df['sepal_length'].mean())
df['sepal_width'] = df['sepal_width'].fillna(df['sepal_width'].median())

# For 'petal_length' and 'petal_width', use a dictionary to fill NaN values
fill_values = {'petal_length': 0, 'petal_width': 0}
df.fillna(fill_values, inplace=True)

# Validate the second step: Check for remaining missing values
missing_values_after_filling = df.isnull().sum()

missing_values_after_filling, df.head()

(sepal_length    0
 sepal_width     0
 petal_length    0
 petal_width     0
 dtype: int64,
    sepal_length  sepal_width  petal_length  petal_width
 0           5.1          3.5           1.4          0.2
 1           4.9          3.0           1.4          0.2
 2           4.7          3.2           1.3          0.2
 3           4.6          3.1           1.5          0.2
 4           5.0         -3.6          -1.4          0.2)

In [56]:
df = pd.read_csv("iris.csv")

# Convert the numerical columns to float, handling errors with 'coerce'
df['sepal_length'] = pd.to_numeric(df['sepal_length'], errors='coerce')
df['sepal_width'] = pd.to_numeric(df['sepal_width'], errors='coerce')
df['petal_length'] = pd.to_numeric(df['petal_length'], errors='coerce')
df['petal_width'] = pd.to_numeric(df['petal_width'], errors='coerce')

# Drop the 'flower' column
df.drop('flower', axis=1, inplace=True)

# Fill missing values with the median of the associated column
columns_to_fill = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
for col in columns_to_fill:
    df.loc[:, col] = df.loc[:, col].fillna(df[col].median())

# Check for remaining missing values to ensure all have been filled
missing_values_after_filling = df.isnull().sum()

# Output the result and the first few rows of the DataFrame to verify
print(missing_values_after_filling)
print(df.head())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64
   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0         -3.6          -1.4          0.2