In [31]:
import pandas as pd
import numpy as np
from IPython.display import display


index = [1, 3, 5, 7, 9]  # You can specify any custom index here
data = np.array([['Blue', [1, 2], 1.1],
                 ['Red', [3, 4], 2.2],
                 ['Pink', [5, 6], 3.3],
                 ['Grey', [7, 8], 4.4],
                 ['Black', [9, 10], 5.5]], dtype=object)

df1 = pd.DataFrame(data, columns=['color', 'list','number'])
df1.index = index

#the series
colors = pd.Series(['Blue', 'Red', 'Pink', 'Grey', 'Black'])
lists = pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]])
numbers = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5])

df2 = pd.DataFrame({'color': colors,
                     'list': lists,
                     'number': numbers
                   })
df2.index = index


display(df1)
display(df2)

   color     list number
1   Blue   [1, 2]    1.1
3    Red   [3, 4]    2.2
5   Pink   [5, 6]    3.3
7   Grey   [7, 8]    4.4
9  Black  [9, 10]    5.5

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

In [32]:
column_types = df_from_series.dtypes

# Print the types of the first value of every column
first_value_types = {column: type(df_from_series[column][0]) for column in df_from_series}

column_types

first_value_types

{' ': numpy.int64, 'color': str, 'number': list, 'value': numpy.float64}